.WithOutHeader {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    background-image: url("../image/chateauSombre.jpg");
}

.Right, .Left, .center{
    height: 100%;
    width: 33.3%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.character-container {
    position: relative;
    text-align: center;
}

.character-container img.gauche {
    float: left;
    clear: both;
    transform: translateY(20%);
}

.character-container img.droite {
    float: right;
    clear: both;
    transform: translateY(20%);
}


.center img {
    height: 80%;
    width: 40%;
    z-index: 99;
}

.Right {
    position: relative; /* Ajoutez ceci pour que .Backpack soit positionné par rapport à .Right */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Backpack {
    position: absolute;
    top: 0; /* Positionnez-le au coin supérieur droit de .Right */
    right: 0;
    height: 125px;
    width: 125px;
    margin: 15px 30px 0px 0px;
}

.Backpack img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.Dropdown {
    margin: 15px 30px 0px 0px;
    background-color: #2b2b2b;
    border: 2px solid #5a5a5a;
    width: 300px;
    height: 300px;
    display: none;
    padding: 15px;
    color: #fff;
    font-family: 'Uncial Antiqua', serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.CloseButton {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 30px;
    line-height: 1;
    color: #fff;
}

.Item {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    gap: 10px;
}

.Item img {
    height: 45%;
    width: 45%;
    border: 3px solid #fff; 
    border-radius: 10px; 
}


.Item img:hover {
    border-color: #ffcc00; 
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.dialog-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 33px;
    padding: 10px;
    width: 300px;
    height: 150px;
    position: absolute;
    top: -100px; /* Positionnement au-dessus du personnage */
    left: 55%;
    transform: translateX(-50%); /* Centrer horizontalement */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog-text p {
    margin: 0;
    font-size: 16px;
}

button {
    margin-bottom: 150px;
    height: 100px;
    width: 400px;
    border-radius: 30px;
}




