@font-face {
    font-family: 'black knight';
    src: url(../black-knight-kong-font/Black\ Knight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'black knight', sans-serif;
    letter-spacing: 2px;
}

body {
    height: 100vh;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
}

.PlayerInfo {
    font-size: 25px;
    color: white;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.PlayerInfo img {
    height: 70px;
    width: 70px;
}

.RessourcesInfo {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ressource {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection {
    color: white;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    border-radius: 33px;
    background-color: rgb(31, 31, 32);
}

.selection p {
    padding-left: 10px;
    font-size:  25px;
}

img {
    height: 50px;
    width: 50px;
}