@font-face {
    font-family: 'black knight';
    src: url(../black-knight-kong-font/Black\ Knight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'black knight', sans-serif;
}

body {
    height: 100vh;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../image/chateau.png");
    background-repeat: no-repeat;
    z-index: 2;
}

.intro{
    text-decoration: none;
    text-align: center;
    font-size: 60px;
    color: rgb(247, 232, 166);
    margin-bottom: 50px;
}

.button{
    text-decoration: none;
    text-align: center;
    font-size: large;
    width: 200px;
    font-size: 60px;
    color: rgb(53, 117, 110);
    background-color: rgb(253, 235, 168);
    padding: 7px;
    border-radius: 33px;
    box-shadow: 10px 5px 5px rgb(74, 147, 130);
    z-index: 1;
    transition: all 0.5s;
    margin-bottom: 75px;
}

.button:hover{
    background-color: white;
    box-shadow: 10px 5px 5px rgb(21, 64, 118);
    background-color: rgb(237, 152, 46);
    color: rgb(53, 117, 110);

}

